.color-white{
	color:white;
}
.color-black{
	color:black;
}
.color-gray{
	color:gray;
}
.margin10{
	margin:10px;
}
.padding10{
	padding:10px;
}
.margin20{
	margin:20px;
}
.padding20{
	padding:20px;
}
.no-touch .propWidget-2 .fig div.blur {
    -webkit-transition: -webkit-transform 0.35s, opacity 0.35s;
    transition: transform 0.35s, opacity 0.35s;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
}
.no-touch .propWidget-2 .fig div.blur {
    display: block;
}
.propWidget-2 .fig div.blur {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    filter: url('../images/blur.svg#blur');
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    display: none;
}
.propWidget-2 .fig .figType{
	font-size: 12px;
	line-height: 16px;
}
.propWidget-2 ul.rating li span{
	color: gold;
}
.propWidget-2 .fig div {
    width: 100%;
    position: relative;
    display: block;
    }
.no-touch .propWidget-2:hover .fig > div.blur {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.6;
 }
.listing-home{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	height:180px;
	width:100%;
}
.deleteContainer{
    float: right;
    cursor: pointer;
    background: #ff5858;
    width: 20px;
    position: absolute;
    padding-left: 7px;
    height: 20px;
    color: white;
}
.image-container{
	margin-top:20px;
}
.maxheight100{
	width: auto;
	max-width: 100%;
}
.image-space{
	height: auto;
	min-height: 20px;
}
body {
	overflow: scroll!important;
}
.see-more:hover{
    background: #0eaaa6;
     -webkit-transition: background-color 300ms linear;
        -moz-transition: background-color 300ms linear;
        -o-transition: background-color 300ms linear;
        -ms-transition: background-color 300ms linear;
        transition: background-color 300ms linear;
    color:white;
}
.see-more{
    margin:0 auto;
    padding:10px;
    width:100px;
    cursor:pointer;
    text-align: center;
    text-transform: uppercase;
    border: solid 1px #ccc;
    color: #444;
}